<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href='{% static 'signup.css' %}'>
</head>
<body>

  <div class="container">

    <div class='image'>
      <img src='{% static "signupbg.png" %}' alt="">
    </div>

    <div class='details'>

      <div class='head'>
        <h3>Sign Up</h3>
        <p class='agreement'>By continuing, you are setting up a Reddit account and agree to our User Agreement and Privacy Policy.</p>
      </div>

      <div class='social-media-btn'>
        <div>
          <button class='google-btn'>
            <img src="{% static '../static/gooogle_img.png' %}" alt="">
            <a href=""> Continue with Google</a>
          </button>
        </div>

        <div>
          <button class='apple-btn'>
            <img src="{% static '../static/apple_img.png' %}" alt="">
            <a href=""> Continue with Apple</a>
          </button>
        </div>
      </div>

      <div class='or'></div>

      <form action="" method="post">
        {% csrf_token %}
        <div>
            <input class='inp' type="text" name='username' placeholder='Username'>
        </div>
        <div>
          <input class='inp' type="email" name='email' placeholder='Email'>
        </div>
        <div>
          <input class='inp' type="password" name='password' placeholder='Password'>
        </div>
        <div>
          {% comment %} <input type="submit"> {% endcomment %}
          <button class='login-btn' type='submit'> CONTINUE </button>
        </div>

        <div>
        {% for message in messages %}
          <p style='color:red' class='message'> {{ message }} </p>
          {% endfor %}
        </div>
        <div class='bottom-text'> Already a redditor?
          <a href="/registeration/signin">LOG IN</a>
        </div>
      </form>

    </div>
  </div>


</body>
</html>
