{% comment %} <h1> Navbar </h1> {% endcomment %}
{%load static %}
<header>

<div class='nav-container'>

  <div class='icon-search'>
    {% comment %} <a href='/' class="reddit-icon"> <i class="fa fa-reddit" style="font-size:48px;color:red"></i> {% endcomment %}
    <a href='/' class="reddit-icon"> <img src="{% static '../static/reddit_icon.png'%}" alt=""></i>
    </a>

    <div class='search-box'>
      <form action="{% url 'searches' %}" method="POST">
        {% csrf_token %}
      <label for="" class="search-label">
        <div class="search-icon">
          <i class="fa fa-search"></i>

        </div>
        </label>
        <input type="text" class='search' name='searched' placeholder='Search Reddit'>
    </form>
    </div>

  </div>

  <div class='header-buttons'>

    <div class='nav-btn'>

      {% if user.is_authenticated %}
      <button class='createpost-btn'><a class='create-btn' href="/blog/create">+</a></button>
      <a href="/registeration/logout/" class='logout'> Logout </a>
      {% else %}
      <a href='/registeration/signin/' class='login'> Log In </a>
      <a href='/registeration/signup/' class='signup'> Sign Up </a>
      {% endif %}
    </div>

    <div class='user-dropdown'>
        <button class="dropbtn">
          <span class='user'>
            <i class='fa fa-user'></i>
          </span>

          {% if user.is_authenticated %}
            <li class='user-name'> {{user.username}} </li>
          {% endif %}

          <span class='dropdown-icon'>
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
        <div id="myDropdown" class="dropdown-content">
          {% comment %} <a href="">Coins</a> {% endcomment %}
          {% comment %} <a href="#">Premium</a> {% endcomment %}
          {% comment %} <a href="#">Powerups</a> {% endcomment %}
          {% comment %} <a href="#">Talk</a> {% endcomment %}

          {% if request.session.user %}
          <a href="{% url 'myprofile' request.session.user %}">Profile</a>
          {% comment %} <a href="">Saved Posts</a> {% endcomment %}
          <a href="">Privacy Policy</a>
          {% endif %}

          <a href="">Settings</a>
          <a href="">Help</a>
        </div>
    </div>

  </div>

</div>

</header>

{% block content%}
{% endblock %}
